
::selection { 
    background-color: #fff; 
    color: rgb(red, green, blue); 
}

*{ 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif;
} 

header{ 
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.page-title{ 
    font-size: 30px;
}

.about-me { 

    position: relative; 
    width: 100%; 
    heigh: 100vh; 
    background: #fff; 
}

.nav-bar{    
    justify-content: space-between;
}

nav ul li{ 

    display: inline-block; 
    list-style: none;
    margin: 10px 20px; 
}

nav ul li a{ 
    text-decoration: none;
    color: black; 
    font-weight: bold; 
}

nav ul li a:hover{ 
    color: purple; 
}

.about-me{  
    margin-top: 8%; 
}

.about-me h2{ 
    font-size: 50px; 
    color:blueviolet
    margin-bottom 20px;

}



.portfolio h3{ 
    font-size: 50px; 
}

.contact-me h4{ 
    font-size: 50px; 
}

.resume h5{ 
    font-size: 50px;
}